<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="Serialcoder">
        <section name="cartService" type="Serialcoder.ShoppingCart.CartServiceSection,Serialcoder.ShoppingCart" />
      </sectionGroup>
    </configSections>
  <Serialcoder>
    <cartService defaultProvider="SessionCartProvider">
      <providers>
        <add name="SessionCartProvider"
             type="Serialcoder.ShoppingCart.Providers.SessionCartProvider"
             minimalOrder="0"
             allowSameProducts="false"/>
      </providers>
    </cartService>
  </Serialcoder>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="cart" namespace="Serialcoder.ShoppingCart.Web.UI.WebControls" assembly="Serialcoder.ShoppingCart"/>
			</controls>
		</pages>
	</system.web>
</configuration>